
/*.perent{ 
  justify-content: center;
  flex-wrap: wrap;
  column-gap:20px ;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  
 /*
 /* align-items:flex-end;*/
 /* align-items:flex-start;*/
 /* align-items:center;*/
 /* align-items:stretch;*/
  
  /*justify-content:space-between ;*/
  /*justify-content:space-around;*/
  /*justify-content:space-evenly ;*/
  /*justify-content: flex-end;*/
  /*justify-content: flex-start;*/
  


/*.child{
  width: 300px;
 
  border: 1px solid black;
  background-color: brown;
}*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
    background-color:#f2f2f2 ;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  /*Services section*/
  .services{
    margin: 100px 0;
  
  }
  .services__list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 47px;
  }
  .services__list-item{
    max-width: 345px;
    background-color: #fff;
    padding: 30px;
    border-radius:15px ;
    box-shadow: 0px 0px 77px rgba(0,0,0,0.6);
  
  }
  .services__list-item .round{
    width: 75px;
    height: 75px;
    
    display: inline-block;
    border-radius:50% ;
  }
  .purple{
    background-color:#717cff ;
  }
  .red{
    background-color:#ff5959 ;
  }
  .blue{
    background-color: #5c96ff;
  }
  .orange{
    background-color:#fa706c ;
  }
  .services__list-item p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4;
    color: rgba( 55, 71, 79, 0.72);
    margin-bottom: 25px;
  }
  .services__list-item h3{
    font-weight: 700;
    font-size: 24px;
    color:#37474fb8;
    margin: 30px 0 10px;
  }
  .services__list-item a{
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.4;
    color: #717cff;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.5s ease;
  }
  .services__list-item a:hover{
    color: coral;
    gap: 20px;
  }